BASE_URL=https://hml.fluxia.app

FREE_USER_EMAIL=free.user@fluxia.test
FREE_USER_PASSWORD=Fluxia@12345

PRO_USER_EMAIL=pro.user@fluxia.test
PRO_USER_PASSWORD=Fluxia@12345

INVALID_PASSWORD=SenhaErrada@123

FINANCIAL_USER_EMAIL=financial.user@fluxia.test
FINANCIAL_USER_PASSWORD=Fluxia@12345